@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Open+Sans:wght@300&display=swap');

#name-bar{
    padding: 0.625rem;
    margin-top: 0rem;
    background: dodgerblue;
    text-align: center;
}
#name-text{
    color: white;
    font-family:'Metal Mania', cursive;
    text-shadow: 0.063rem 0.063rem rgb(0, 0, 0);
    letter-spacing: 0.313rem;
    font-size: 1.875rem;
    text-decoration: none;
}
#nav-bar{
    padding: 0.1rem;
    background: #5d7bff85;
    position: sticky;
    top: 0rem;
    right: 0rem;
    text-align: center;
    left: 0rem;
    width: 100%;
}
#Projects{
    letter-spacing: 0.7rem;
}
#About{
    letter-spacing: 0.4rem;
}
#Contact{
    letter-spacing: 0.7rem;
}
#validator_box{
    margin: 1rem 4rem 1rem;
}
body{
    color: white;
    font-family: 'Open Sans', monospace;
    background: url('https://kevin-poncepalos.github.io/images/background-4.jpg') black;
    margin: 0rem;
}
.a_format{
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 0.5rem 3rem 0rem 0rem; 
}
.project-text{
    color: white;
    text-align: center;
    margin: 0.5rem 5rem 0rem 1.5rem;
}
li{
    list-style-type: none;
    text-align: center;
}
nav ul{
    margin: 0.3125rem;
    padding: 0.3125rem 0rem 0.3125rem 1.875rem;
}
nav li{
    display: inline;
    margin-right: 1.25rem;
}
nav a{
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', monospace;
    font-size: 0.9375rem;
}
a{
    color: #FF8D1E;
}
h1{
    width: 90%;
    margin: 0 auto;
    color: #FF8D1E;
}
p{
    width: 60%;
    margin: 0 auto;
    font-family: 'Open Sans', monospace;
}
footer{
    padding: 0.625rem;
    margin-top: 0rem;
    background: dodgerblue;
    box-shadow: 0 50vh 0 50vh black;
    text-align: center;
}
footer a{
    font-size: 0.75rem;
    text-align: center;
    text-shadow: 0.03125rem 0.03125rem rgb(0, 0, 0);
    color:rgb(0, 0, 0);
    text-decoration: none;
}
