<!-- CSS for portfolio simple website -->
@font-face {
    font-family: 'metal_maniaregular';
    src: url('https://kevin-poncepalos.github.io/css/fonts/metalmania-regular-webfont.woff2') format('woff2'),
         url('https://kevin-poncepalos.github.io/css/fonts/metalmania-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('https://kevin-poncepalos.github.io/css/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('https://kevin-poncepalos.github.io/css/fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#name-bar{
    padding: 10px;
    margin-top: 0px;
    background: dodgerblue;
}
#name-text{
    color: #ffffffec;
    font-family:'Metal Mania', cursive;
    text-shadow: 1px 1px rgb(0, 0, 0);
    letter-spacing: 5px;
    font-size: 30px;
    text-decoration: none;
    text-align: center
}
#nav-bar{
    padding: 10px;
    position: fixed;
    top: 0px;
    left: 900px;
    width: 100%;
}
.container{
    width: 80%;
    margin: 0 auto;
}
body{
    color: white;
    font-family: 'Open Sans', monospace;
    background: rgb(0, 0, 0);
    text-indent: 10px;
    margin: 0px;
}
nav ul{
    margin: 5px;
    padding: 5px 0px 5px 30px;
}
nav li{
    display: inline;
    margin-right: 20px;
}
a{
    color: #FF8D1E;
    text-decoration: none;
    text-shadow: 1px 0 10px rgb(0, 0, 0);
}
h3{
    letter-spacing: 5px;
    width: 90%;
    margin: 0 auto;
    color: #FF8D1E
}
p{
    width: 80%;
    margin: 0 auto;
    font-family: Open Sans, monospace;
}
footer{
    color:rgb(0, 0, 0);
    text-shadow: 0.5px 0.5px rgb(0, 0, 0);
    padding: 10px;
    margin-top: 0px;
    background: dodgerblue;
    text-align: center;
    font-size: 12px;
}
